@model CoreDemoProduct.EntityLayer.Concrete.Job
@{
    ViewData["Title"] = "UpdateJob";
    Layout = "~/Views/Shared/_UILayout.cshtml";
}

<h2>Meslek Güncelleme Sayfası</h2>
@using (Html.BeginForm("UpdateJob", "Job", FormMethod.Post))
{
    @Html.HiddenFor(x=>x.JobID)
    @Html.Label("Meslek Adı")
    @Html.TextBoxFor(x=>x.JobName, new {@class = "form-control"})
    @Html.ValidationMessageFor(x=>x.JobName)
    <br />
    <button class="btn btn-info">Güncelle</button>
}